:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*  utilitites or general compoenents ----------------------------------------------- start  */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  color: #797979;
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/*  utilitites or general compoenents ----------------------------------------------- End  */

.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .burger-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .burger-icon span {
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  background-color: #333;
}
.header .burger-icon span:nth-child(2) {
  width: 60%;
  transition: 0.4s;
}

.header .links:hover span:nth-child(2) {
  width: 100%;
}

.header .links ul {
  position: absolute;
  /* top: calc(100%); */
  list-style: none;
  display: none;
  min-width: 200px;
  right: 0;
  top: calc(100% + 15px);
  background-color: #f6f6f6;
  padding: 0;
  margin: 0;
}

.header .links:hover ul {
  display: block;
}

.header ul:before {
  content: "";
  position: absolute;
  top: -20px;
  /* left: 50%; */
  right: 5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6;
}

.header .links ul li {
  padding: 10px;
}
.header .links ul li a {
  text-decoration: none;
  color: var(--main-color);
  display: block;
}

/* Landing */
.landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: calc(100vh - 84px);
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  color: var(--main-color);
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

/* Features -------------------------------------------------------------------------- start */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* justify-content: space-around; */
  grid-gap: 20px; /* question: what for? */
}
.features .feat {
  text-align: center;
  padding: 20px;
  /* margin: 20px; */
  /* margin-right: 40px; */
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* Features -------------------------------------------------------------------------- End */

/* Services --------------------------------------------------------------------------- Start */
.services {
  padding: 20px 0;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px; /* question: what for?*/
}
.services .services-content .srv .text {
  flex: 1; /* question: what for?*/
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 400;
  line-height: 1.6;
}
.services .services-content .srv .img {
  text-align: center;
  position: relative;
}
.services .services-content .srv .img:before {
  content: "";
  position: absolute;
  width: 80px;
  height: calc(100% + 100px);
  top: -50px;
  right: -40px;
  background-color: var(--secondary-color);
  z-index: -1;
}
.services .services-content .srv .img img {
  width: 260px;
}

@media (max-width: 1199px) {
  .services .services-content .srv .img {
    display: none;
  }
}

/* Services --------------------------------------------------------------------------- End */

/* portfolo --------------------------------------------------------------------------- Start */
.portfolo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolo .portfolo-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolo .portfolo-content .card {
  background-color: white;
}
.portfolo .portfolo-content .card img {
  max-width: 100%;
}

.portfolo .portfolo-content .card .info {
  padding: 20px;
}

.portfolo .portfolo-content .card .info h3 {
  margin: 0;
}

.portfolo .portfolo-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* portfolo --------------------------------------------------------------------------- End */

/* about --------------------------------------------------------------------------- Start */
.about {
  padding: 60px 0;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image:before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  background-color: #ebeced;
  z-index: -1;
}

.about .about-content .image:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 300px;
  border-left: var(--main-color) 100px solid;
  border-bottom: var(--main-color) 100px solid;
  top: -40px;
  right: -150px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image:before,
  .about .about-content .image:after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* about --------------------------------------------------------------------------- End */

/* Contact --------------------------------------------------------------------------- Start */
.contact {
}
.contact .info h3 {
  font-size: 40px;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.contact .info > a {
  font-size: 30px;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 800;
  display: inline-block;
  padding: 10px;
}
.contact .info .social {
  padding: 20px;
}
.contact .info .social .links {
  display: inline-block;
  margin-left: 20px;
}
.contact .info .social .links a {
  color: #777;
}
.contact .info .social .links i {
  padding: 10px;
}
/* Contact --------------------------------------------------------------------------- End */
/* Footer --------------------------------------------------------------------------- Start */
.footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 30px 10px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* Footer --------------------------------------------------------------------------- End */
